/* @import url(https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap%27);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
} */

 body{
  background-image: url("background.jpg");
  background-size: cover ;
}
.Parent{
  display: flex;
  margin:100px;
}
.Left-side{
  display: block;
  background-color: white;
  width: auto;
}
.Heading{
  display: flex;
}
.BlackBox{
  margin: 0;
  background-color: #202020;
  height: 250px;
  width:  100px;
}
.Nmae{
  background-color: #FFD801;
  margin-top: 50px;
  margin-left: -20px;
  height: 180px;
  width: 60%;
}
h1{
  padding-top: 20px;
  text-align: left;
  padding-left: 30px;
}
h4{
  padding-left: 30px;
}
.Content{
  display: flex;
  height:auto;
  width:790px;
  background-color: white;

}
.Content .margin{
  background-color: #FFD801;
  height:auto;
  width:50px;
}

.Right-side{
  display: block;
  background-color: #202020;
  height: auto;
  width: 60%;
}
.titles{
  margin-top: 50px;
  font-size: 20px;
  padding-left: 60px;
  font-family: 'inter', sans-serif;
}
hr{
  margin-left: 50px;
  height:1px;
  background-color: black;
  width: 700px;
}
p{
  margin-left: 50px;
}
li{
    margin-left: 50px;
}
.Work-disp{
  margin-top: 40px;
}
.Work-discription{
  margin-left: 0px;
}
.Sub-discription{
  margin-left: 70px;
  color: grey;
}
.Profile-pic{
  margin-top: 50px;
  margin-left: 30px;
  text-align: left;
  border-color: #FFD801;
}
.Contact-Edu{
  margin-top: 80px;
  text-align: center;
  color: #ffd801;
}
.right{                      /*hr right*/
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  width: 100%;
}
.icons{
  padding-top: 10px;
  height: 50px
}
.year{
  color: white;
  font-size: 15px;
  font-family: 'inter', sans-serif;;
}
.Skills{
  text-align: center;
  color: #ffd801;
}
