body{
background: white;
display: flex;
justify-content: left;
min-height: 100vh;
border-left: 20px solid #ffd801;
}
.container{
  position: relative;
  width: 100%;
  min-height: 100%;
  background: white;
  margin: 0px;
  display: flex;
  float: left;
  grid-auto-rows: 40% 40%;
}
.container .leftSide{
  position: relative;
  background-color: #202020;
  padding: -10px;
  height: 400px;
  margin: -20px;
  width: 100px;
}
.container .name{
  position: relative;
  background-color: #ffd801;
  padding-top: -40px;
  margin-left: -20px;
  margin-top: 10px;
  height: 200px;
  width: 1000px;
  text-align: center;
}
.container .leftBody{
  position: fixed;
  left: 50px;
  top: 400px;
}
hr{
 position: fixed;
 width: 700px;
}
.container .rightSide{
  position: relative;
  background-color: #202020;
  min-height: 100px;
  margin-left: 100px;
  width:700px;
}
